<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Terrible Task App</title>
    <style>

    </style>
</head>

<body>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" display="none" id="toast">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>


    {% include 'modal_template.html' %}
    {% include 'taskRow_template.html' %}
    {% include 'addCategory_modal.html' %}
    <div class="row" style="padding-left: 20px; padding-top: 50px;">
        <div class="col-sm-3">
            <div class="card">
                <h5 class="card-header text-center">New Task</h5>
                <form id="newTaskForm" class="inputs " style="padding: 15px;">
                    <label for="taskNameField">Task name:</label>
                    <input name="task_name" type="text" id="taskNameField" class="form-control"
                        placeholder="Enter a task name"><br>
                    <label for="durationField">Estimated duration:</label>
                    <input name="duration_minutes" type="number" id="durationField" class="form-control"
                        placeholder="Enter another integer"><br>
                    <label for="categoryField">Category:</label>
                    <select name="category" data-field="category" class="form-select" id="categoryField">

                    </select><br>
                    <!-- Button to trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#addCategoryModal">
                        Add Category
                    </button>

                    <br><br>
                    <label for="priorityField">Priority:</label>
                    <select name="priority" class="form-select" id="priorityField">
                        <option value="optionA">Low</option>
                        <option value="optionB">Mid</option>
                        <option value="optionC">High</option>
                    </select><br>
                    <button type="submit" class="btn btn-primary">Save Task</button>
                    <p id="errorMessage" style="color: red;"></p>
                </form>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <table class="table table-sm table-responsive" id="dataTable">
                    <tr>
                        <th class="taskHeader"></th>
                        <th>Task</th>
                        <th>Duration</th>
                        <th>Category<br>
                            <select name="category" data-field="category" class="form-select" id="categoryFilter">
                                <option value="all">all</option>
                            </select>
                        </th>
                        <th>Priority</th>
                        <th>Time worked</th>
                    </tr>
                    <tbody id="dataRows" class="taskRowsBody"></tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="http://localhost:35729/livereload.js"></script>

</body>

</html>