<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Row</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="editinput1" placeholder="Enter a task name">
          <label for="editinput1">Task Name</label>
        </div>

        <div class="row mb-3">
          <div class="col">
            <div class="form-floating">
              <input type="number" class="form-control" id="editinput2" placeholder="Enter duration in minutes">
              <label for="editinput2">Duration</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating">
              <select class="form-select" id="editdropdown1" data-field="category"></select>
              <label for="editdropdown1">Category</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating">
              <select class="form-select" id="editdropdown2">
                <option value="1">Low</option>
                <option value="2">Normal</option>
                <option value="3">High</option>
              </select>
              <label for="editdropdown2">Priority</label>
            </div>
          </div>
          <div class="col">
            <div class="big-checkbox-container">
              <div class="form-check">
                <input class="big-checkbox" type="checkbox" value="" id="editFinishedCheckbox">
                <!-- <label class="form-check-label" for="editFinishedCheckbox">Task Finished</label> -->
              </div>
            </div>
          </div>
        </div>

        <p id="editerrorMessage" class="text-danger"></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveChangesBtn" data-bs-dismiss="modal">Save Changes</button>
      </div>
    </div>
  </div>
</div>